language: java
sudo: false
jdk:
  - oraclejdk8
install: true
script:
# We fetch as much as dependencies we can but we don't print the output so it's more digest
# Sadly this is the only way to make maven download everything and not polute the logs...
  - mvn --batch-mode clean dependency:resolve dependency:resolve-plugins install -DskipTests -Dsilent=true > /dev/null
# Let's skip for now branch 1.x
#  - mvn --batch-mode clean verify -Pes-1x
  - mvn --batch-mode clean verify -Pes-2x-travis
  - mvn -batch-mode clean verify
  - "[[ ${TRAVIS_PULL_REQUEST} == 'false' ]] && [[ ${TRAVIS_TAG} == '' ]] && mvn deploy -DskipTests --settings deploy-settings.xml"
#after_success:
#  - "[[ ${TRAVIS_PULL_REQUEST} == 'false' ]] && [[ ${TRAVIS_TAG} == '' ]] && mvn deploy -DskipTests --settings deploy-settings.xml"
after_failure:
  - echo "As we got a failure, let's see what we have in elasticsearch cluster logs"
  - cat target/integration-tests/run/elasticsearch-*/logs/elasticsearch_integration.log

