<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal">
   <Appenders>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{ABSOLUTE} %highlight{%-5p} [%c{1.}] %m%n"/>
      </Console>
      <Console name="CONSOLE_NO_DECORATOR" target="SYSTEM_OUT">
         <PatternLayout pattern="%m%n"/>
      </Console>
   </Appenders>
   <Loggers>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.tika" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
         <AppenderRef ref="CONSOLE_NO_DECORATOR"/>
      </Logger>
      <Logger name="org.apache.tika" level="error" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="org.apache.tika.parser.ocr.TesseractOCRParser" level="error" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Root level="info">
         <AppenderRef ref="CONSOLE"/>
      </Root>
   </Loggers>
</Configuration>
