<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal">
   <Appenders>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{ABSOLUTE} %highlight{%-5p} [%c{1.}] %m%n"/>
      </Console>
      <Console name="CONSOLE_NO_DECORATOR" target="SYSTEM_OUT">
         <PatternLayout pattern="%m%n"/>
      </Console>
   </Appenders>
   <Loggers>
      <Logger name="fr.pilato.elasticsearch.crawler.fs" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.FsCrawlerImpl" level="debug" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.client" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.tika" level="info" additivity="false">
         <AppenderRef ref="CONSOLE_NO_DECORATOR"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.util" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.test" level="debug" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.test.integration" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="fr.pilato.elasticsearch.crawler.fs.test.unit" level="info" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Logger name="org.elasticsearch" level="error" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>
      <Root level="info">
         <AppenderRef ref="CONSOLE"/>
      </Root>
   </Loggers>
</Configuration>
